@{
    ViewBag.Title = "ASP.NET MVC 3 notification demo";
}

<script type="text/javascript">
    //Set autoclear of messages. Don't put this into $(document).ready.
    //mvcNotify.autoClearTimeout = 0; //don't autoclear any types
    mvcNotify.autoClearTimeout = 5000; //Unit of milliseconds. Requires mvcNotify.typesToAutoClear to be set to something (default behavior).

    //USAGE: All parameters below can be passed as string like "success" or string array like ["success", "error", "warning"].
    //mvcNotify.elementsDontClearOnClick = "a"; //One type
    //mvcNotify.elementsDontClearOnClick = ["a", ":button", ":submit"]; //Multiple types.
    //mvcNotify.typesToAutoClear = null; //don't autoclear any types
    //mvcNotify.typesToAutoClear = "success"; //Autoclear one type.
    //mvcNotify.typesToAutoClear = "all"; //Autoclear all types.
    //mvcNotify.typesToAutoClear = ["success", "warning", "error"]; //Autoclear multiple types.
    //mvcNotify.typesToConsoleLog = "error"; //Log one type to console.
    mvcNotify.typesToConsoleLog = "all"; //Log all types to console.
    //mvcNotify.typesToConsoleLog = ["success", "warning", "error"]; //Log multiple types to console.

    $(document).ready(function () {

        $('#load-partial').click(function (event) {
            $('#placeholder-partial').load('@Url.Action("Partial")');
            //Needed for IE8
            event.preventDefault ? event.preventDefault() : event.returnValue = false;
        });

        $('#load-json').click(function (event) {
            $.getJSON('@Url.Action("JsonData")', function (data) {
                $('#placeholder-json').text('The code is ' + data.Code + ' and the description is "' + data.Description + '", generated at ' + data.TheDate);
            });
            //Needed for IE8
            event.preventDefault ? event.preventDefault() : event.returnValue = false;
        });

        $('#load-anchorClientSide').click(function (event) {
            $("#placeholder-anchorClientSide").text("Text loaded while clicking anchor link.");
            mvcNotify.displayMessage("Warning message while clicking anchor link.", "warning"); //pass "success", "warning", or "error"
            //Needed for IE8
            event.preventDefault ? event.preventDefault() : event.returnValue = false;
        });

        $('#load-buttonClientSide').click(function (event) {
            $("#placeholder-buttonClientSide").text("Text loaded while clicking button.");
            mvcNotify.displayMessage("Success message while clicking button.", "success"); //pass "success", "warning", or "error"
            //Needed for IE8
            event.preventDefault ? event.preventDefault() : event.returnValue = false;
        });
    });
</script>

<h2>Notification demo</h2>

<dl>
	<dt>Show success message after POST action</dt>
	<dd>
		@using(Html.BeginForm()) {
			<label for="message">Message text:</label>
			<input id="message" name="message" />
			<input type="submit" value="Display message" />
		}
	</dd>
	
	<dt>Show warning after redirect</dt>
	<dd>
		@Html.ActionLink("Click this link to show the warning", "RedirectWithWarning")
	</dd>

	<dt>Show error message after loading a partial view</dt>
	<dd>
		<a href="#" id="load-partial">Load partial view</a>
		<div id="placeholder-partial"></div>
	</dd>

	<dt>Show warning message after returning some JSON</dt>
	<dd>
		<a href="#" id="load-json">Load JSON</a>
		<div id="placeholder-json"></div>
	</dd>

    <dt>Show warning message from anchor running client side JavaScript</dt>
	<dd>
		<a href="#" id="load-anchorClientSide">Load client-side JavaScript</a>
		<div id="placeholder-anchorClientSide"></div>
	</dd>

    <dt>Show warning message from button running client side JavaScript</dt>
	<dd>
		<input type="button" id="load-buttonClientSide" value="Load client-side JavaScript" />
		<div id="placeholder-buttonClientSide"></div>
	</dd>
</dl>